@model IEnumerable<WorkoutProgram>

@{
    bool isAuthenticated = User.Identity?.IsAuthenticated == true;
}

<section class="space-sm flush-with-above">
    <div class="container">
        <ul class="row feature-list feature-list-sm">
            @foreach(var workOut in Model)
            {
                <li class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <a type="button" asp-controller="WorkoutProgram" asp-action="Detail" asp-route-id = "@workOut.Id"> 
                            <img class="card-img-top" src="@workOut.Image" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">@workOut.Title</h4>
                            <p class="card-text">@workOut.Description</p>
                        </div>
                        <div class="card-footer card-footer-borderless d-flex justify-content-between">
                            <div>
                                <small>@workOut.WorkoutProgramCategory</small>
                            </div>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                            {
                                <div>
                                    <a type="button" class="btn btn-sm btn-outline-info" asp-controller="WorkoutProgram" asp-action="Edit" asp-route-id="@workOut.Id">
                                        Edit
                                    </a>
                                    <a type="button" class="btn btn-sm btn-outline-danger" asp-controller="WorkoutProgram" asp-action="Delete" asp-route-id="@workOut.Id">
                                        Delete
                                    </a>
                                </div>                 
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>